<div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="card-title">Actions</h4>
                </div>
            </div>
        </div>
        <div class="card-body p-2">
            <div class="table-main">
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th width="10%"><span>ID</span></th>
                            <th class="text-left" width="90%"><span>Name</span></th>
                        </tr>
                    </thead>
                </table>
                <div class="table-container sub-table scrollLeg">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <td width="10%"><span>4312</span></td>
                                <td class="text-left" width="90%"><span class="table-row-title"><a href="#">Define
                                            Risk</a></span></td>
                            </tr>
                            <tr>
                                <td width="10%"><span>4312</span></td>
                                <td class="text-left" width="90%"><span class="table-row-title"><a href="#">Define
                                            Risk</a></span></td>
                            </tr>
                            <tr>
                                <td width="10%"><span>4312</span></td>
                                <td class="text-left" width="90%"><span class="table-row-title"><a href="#">Define
                                            Risk</a></span></td>
                            </tr>
                            <tr>
                                <td width="10%"><span>4312</span></td>
                                <td class="text-left" width="90%"><span class="table-row-title"><a href="#">Define
                                            Risk</a></span></td>
                            </tr>
                            <tr>
                                <td width="10%"><span>4312</span></td>
                                <td class="text-left" width="90%"><span class="table-row-title"><a href="#">Define
                                            Risk</a></span></td>
                            </tr>
                            <tr>
                                <td width="10%"><span>4312</span></td>
                                <td class="text-left" width="90%"><span class="table-row-title"><a href="#">Define
                                            Risk</a></span></td>
                            </tr>
                            <tr>
                                <td width="10%"><span>4312</span></td>
                                <td class="text-left" width="90%"><span class="table-row-title"><a href="#">Define
                                            Risk</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
